.featured-category {
  justify-content: center;
  gap: 3rem;
  margin-bottom: 10rem;
  margin-top: 2rem;
}
.intro-heading {
  font-family: "Abril Fatface", cursive;
}

.intro-container > a:hover {
  font-size: 1rem;
}
.sec-introduction {
  background: var(--bg-radient);
}
.sec-introduction .btn {
  width: 10rem;
}
.featured-category .link {
  transition: ease-in 0.25s;
}
.featured-category .link:hover {
  transform: scale(1.1);
}
.home-image {
  min-width: 50%;
  filter: drop-shadow(7px 7px 7px var(--txt-gray));
}
